body{
    margin: 0;
    background-color: #F8F9FA;
    color: #212529;
    font-size: 0.8em;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 20%;
}

header h4{
    margin-left: 1%;
}

header article{
    display: flex;
    flex-direction: row;
    width: 20%;
    text-align: center;
    justify-content: right;
    margin-right: 2%;
}

header article a{
    width: 20%;
}

#github{
    width: 40%;
}

#linkedin{
    width: 35%;
}

header nav{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    color: #212529;
    padding: 1%;
    width: 100%;
    text-align: center;
}

#inicio{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    padding: 2% 0 5% 0;
}

section{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#inicioDescripcion {
    width: 50%;
    padding-left: 1%;
}

#inicioDescripcion h1{
    font-size: 4.2em;
    opacity: 40%;
}

#inicioDescripcion h3{
    font-size: 1.4em;
    opacity: 40%;
}

#inicio figure.ticker-wrap {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#inicio ul.ticker-track {
    display: inline-block;
    animation: scroll-left 20s linear infinite;
    margin: 0;
    padding: 0;
    list-style: none;
}

#inicio ul.ticker-track li {
    display: inline-block;
    padding: 0 2em; 
    font-size: 1.3em;
    opacity: 40%; 
    font-family: "Raleway", sans-serif; 
    font-weight: 100;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#inicioImagen{
    width: 50%;
    animation: slideInFromRight 1.2s ease-out forwards;
    box-shadow: -10px 0 25px rgba(0, 0, 0, 0.1),  /* Sombra;izquierda */
             0 -10px 25px rgba(0, 0, 0, 0.08), /* Sombra arriba */
             0 10px 25px rgba(0, 0, 0, 0.1);   /* Sombra abajo */
}

#inicioImagen img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: right top;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}