body{
    margin: 0;
    background-color: #F8F9FA;
    color: #212529;
    font-size: 0.8em;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 20%;
}

header h4{
    margin-left: 1%;
}

header article{
    display: flex;
    flex-direction: row;
    width: 20%;
    text-align: center;
    justify-content: right;
    margin-right: 2%;
}

header article a{
    width: 20%;
}

#github{
    width: 40%;
}

#linkedin{
    width: 35%;
}

header nav{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    color: #212529;
    padding: 1%;
    width: 100%;
    text-align: center;
}