<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Perfil Dinámico</title>
</head>
<body>

    <header>
        <h4>Paulo Romeo Jiménez Pérez</h4>
        <nav>
            <a href="#proyectos">Proyectos</a>
            <a href="#experiencia">Experiencia</a>
            <a href="#formacion">Formación</a>
        </nav>
        <article>
            <a href="https://github.com/JP-451"><img src="/static/img/gitHub.png" alt="GitHub" id="github"></a>
            <a href="www.linkedin.com/in/paulo-romeo-jiménez-pérez-a24b70291"><img src="/static/img/linkedin.png" 
                alt="Linkedin" id="linkedin"></a>
        </article>
    </header>
    <main>
        <section id="inicio">

        </section>
        <section id="proyectos">

        </section>
        <section id="experiencia">

        </section>
        <section id="formación">

        </section>
    </main>
</body>
</html>