<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <title>Perfil Dinámico</title>
</head>
<body>
    <header>
        <h3>Paulo Romeo Jiménez Pérez</h3>
        <nav>
            <a href="#proyectos">Proyectos</a>
            <a href="#experiencia">Experiencia</a>
            <a href="#formacion">Formación</a>
        </nav>
        <article>
            <a href="https://github.com/JP-451"><img src="/static/img/gitHub.png" alt="GitHub" id="github"></a>
            <a href="www.linkedin.com/in/paulo-romeo-jiménez-pérez-a24b70291"><img src="/static/img/linkedin.png" 
                alt="Linkedin" id="linkedin"></a>
        </article>
    </header>

    <main>
        <section id="inicio">
            <article id="inicioDescripcion">
                <h1>Programador Full Stack</h1>
                <h3>con Especialización en IA y Big Data</h3>
                <figure class="ticker-wrap">
                    <ul class="ticker-track">
                        <li>Python</li>
                        <li>Pandas</li>
                        <li>Numpy</li>
                        <li>MatplotLib</li>
                        <li>Seaborn</li>
                        <li>Scikit-Learn</li>
                        <li>TensorFlow</li>
                        <li>Keras</li>
                        <li>Power BI</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>Pandas</li>
                        <li>Numpy</li>
                        <li>MatplotLib</li>
                        <li>Seaborn</li>
                        <li>Scikit-Learn</li>
                        <li>TensorFlow</li>
                        <li>Keras</li>
                        <li>Power BI</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                    </ul>
                </figure>
            </article>
            <article id="inicioImagen">
                <img src="/static/img/escritorio.png" alt="">
            </article>
        </section>

        <section id="proyectos">
            <h2>Proyectos</h2>

            <ul class="proyecto-carousel">

                <li>
                    <article class="proyecto-card" id="proyecto-1">
                        <h3>Chatbot Akita</h3>
                        <footer>
                            <a href="#" class="btn-saber-mas">Saber más</a>
                        </footer>
                    
                    </article>
                </li>

                <li>
                    <article class="proyecto-card" id="proyecto-2">
                        <h3>API Prediccion Precios Vivienda</h3>
                        <footer>
                            <a href="#" class="btn-saber-mas">Saber más</a>
                        </footer>
                    </article>
                </li>

                <li>
                    <article class="proyecto-card" id="proyecto-3">
                        <h3>Dashboard de Analítica</h3>
                        <footer>
                            <a href="#" class="btn-saber-mas">Saber más</a>
                        </footer>
                    </article>
                </li>
            </ul>
        </section>

        <section id="experiencia">
            <h2>Experiencia Laboral</h2>

            <article class="experiencia-grid">

                <details class="experiencia-card">
                    <summary class="experiencia-resumen">
                        <div>
                            <h3>Programador Full Stack</h3>
                            <h4>Lasergran S.L.</h4>
                            <img src="/static/img/lasergran.png" alt="Lasergran S.L." id="lasergran">
                        </div>
                        <span class="card-arrow-down"></span>
                    </summary>
                    <div class="experiencia-detalle">
                        <p>Responsable del diseño y desarrollo de una calculadora que implementaba 
                            multitud de calculos internos con llamadas a bases de datos.</p>
                        <ul>
                            <li>Diseño en HTML, CSS y JS.</li>
                            <li>Lógica programada con Python.</li>
                            <li>Base de datos administrada con MySQL.</li>
                        </ul>
                    </div>
                </details>
            
                <details class="experiencia-card">
                    <summary class="experiencia-resumen">
                        <div>
                            <h3>Desarrollador Junior</h3>
                            <h4>Tech Solutions Inc.</h4>
                            <img src="/static/img/nazari.png" alt="Nazari Systems S.L." id="nazari">
                        </div>
                        <span class="card-arrow-down"></span>
                    </summary>
                    <div class="experiencia-detalle">
                        <p>Desarrollé páginas web en WordPress además de comenzar el desarrollo 
                            de un TPV con C++ en solitario.</p>
                        <ul>
                            <li>Programación en C++.</li>
                            <li>Desarrollo Web en Wordpress.</li>
                        </ul>
                    </div>
                </details>
            </article>
        </section>

        <section id="formación">

        </section>
    </main>
</body>
</html>