<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <title>Perfil Dinámico</title>
</head>
<body>
    <header>
        <h3>Paulo Romeo Jiménez Pérez</h3>
        <nav>
            <a href="#sobreMi">Sobre Mi</a>
            <a href="#proyectos">Proyectos</a>
            <a href="#experiencia">Experiencia</a>
            <a href="#formacion">Formación</a>
        </nav>
        <article>
            <a href="https://github.com/JP-451"><img src="../static/img/gitHub.png" alt="GitHub" id="github"></a>
            <a href="https://www.linkedin.com/in/paulo-romeo-jim%C3%A9nez-p%C3%A9rez-a24b70291/"><img src="../static/img/linkedin.png" 
                alt="Linkedin" id="linkedin"></a>
            <a href="mailto:pauloromeojp@gmail.com" id="enlaceContact"><button id="contactMe">Contact Me</button></a>
        </article>
        <div class="scroll-progress-bar"></div>
    </header>

    <main>
        <section id="inicio">
            <article id="inicioDescripcion">
                <h1>Programador Full Stack</h1>
                <h3>con Especialización en IA y Big Data</h3>
                <figure class="ticker-wrap">
                    <ul class="ticker-track">
                        <li>Python</li>
                        <li>Pandas</li>
                        <li>Numpy</li>
                        <li>MatplotLib</li>
                        <li>Seaborn</li>
                        <li>Scikit-Learn</li>
                        <li>TensorFlow</li>
                        <li>Keras</li>
                        <li>Power BI</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>Pandas</li>
                        <li>Numpy</li>
                        <li>MatplotLib</li>
                        <li>Seaborn</li>
                        <li>Scikit-Learn</li>
                        <li>TensorFlow</li>
                        <li>Keras</li>
                        <li>Power BI</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                    </ul>
                </figure>
            </article>
            <article id="inicioImagen">
                <img src="../static/img/escritorio.png" alt="">
            </article>
        </section>

        <section id="sobreMi">
            <h2>Sobre Mi</h2>
            <p><span>Programador Full Stack</span> con una versatilidad técnica única, capaz de desarrollar aplicaciones de negocio en C++ (como un TPV
            completo en solitario ) y crear soluciones web integrales con <span>Python (Flask)</span> y <span>HTML/CSS/JavaScript</span>.
            Actualmente, estoy ampliando y aplicando esta base técnica para especializarme en <span>Inteligencia Artificial y Big Data</span> , desarrollando
            activamente proyectos como <span>Agentes de IA Generativa y modelos de optimización de datos.</span></p>
        </section>

        <section id="proyectos">
            <h2>Proyectos</h2>

            <ul class="proyecto-carousel">

                <li>
                    <article class="proyecto-card" id="proyecto-2">
                        <h3>API Prediccion Precios Vivienda</h3>
                        <footer>
                            <a href="#" class="btn-saber-mas">Saber más</a>
                        </footer>
                    </article>
                </li>

                <li>
                    <article class="proyecto-card" id="proyecto-3">
                        <h3>Dashboard de Analítica</h3>
                        <footer>
                            <a href="#" class="btn-saber-mas">Saber más</a>
                        </footer>
                    </article>
                </li>
                
                <li>
                    <article class="proyecto-card" id="proyecto-1">
                        <h3>Chatbot Akita</h3>
                        <footer>
                            <a href="#" class="btn-saber-mas">Saber más</a>
                        </footer>
                    
                    </article>
                </li>
            </ul>
        </section>

        <section id="experiencia">
            <h2>Experiencia Laboral</h2>

            <article class="experiencia-grid">

                <details class="experiencia-card">
                    <summary class="experiencia-resumen">
                        <div>
                            <h3>Programador Full Stack (Prácticas)</h3>
                            <h4>Lasergran S.L.</h4>
                            <img src="../static/img/lasergran.png" alt="Lasergran S.L." id="lasergran">
                        </div>
                        <span class="card-arrow-down"></span>
                    </summary>
                    <div class="experiencia-detalle">
                        <p>Responsable del diseño y desarrollo de una calculadora que implementaba 
                            multitud de calculos internos con llamadas a bases de datos.</p>
                        <ul>
                            <li>Diseño en HTML, CSS y JS.</li>
                            <li>Lógica programada con Python.</li>
                            <li>Base de datos administrada con MySQL.</li>
                        </ul>
                    </div>
                </details>
            
                <details class="experiencia-card">
                    <summary class="experiencia-resumen">
                        <div>
                            <h3>Desarrollador Junior (Prácticas)</h3>
                            <h4>Nazari Systems S.L.</h4>
                            <img src="../static/img/nazari.png" alt="Nazari Systems S.L." id="nazari">
                        </div>
                        <span class="card-arrow-down"></span>
                    </summary>
                    <div class="experiencia-detalle">
                        <p>Desarrollé páginas web en WordPress además de comenzar el desarrollo 
                            de un TPV con C++ en solitario.</p>
                        <ul>
                            <li>Programación en C++.</li>
                            <li>Desarrollo Web en Wordpress.</li>
                        </ul>
                    </div>
                </details>
            </article>
        </section>

        <section id="formacion">
            <h2 class="section-title">Mi Formación Académica</h2>

            <div class="grid-container">
                <article class="card medac">
                    <div class="card-content">
                        <h2>Desarrollo de Aplicaciones Multiplataforma</h2>
                        <h4>MEDAC, Granada</h4>
                    </div>
                </article>
            
                <article class="card efa">
                     <div class="card-content">
                        <h2>Desarrollo de Aplicaciones Web</h2>
                        <h4>EFA El Soto, Granada</h4>
                     </div>
                </article>
            
                <article class="card ia">
                     <div class="card-content">
                        <h2>Especialización en IA y Big Data</h2>
                        <h4>MEDAC, Granada</h4>
                     </div>
                </article>
            </div>
        </section>
    </main>
    <footer id="final">
        <article>
            <h2>Localización</h2>
            <p>Santa fe, Granada 18320</p>
        </article>
        <article>
            <h2>Contacto</h2>
            <p>Correo: pauloromeojp@gmail.com</p>
            <p>Linkedin: <a href="https://www.linkedin.com/in/paulo-romeo-jim%C3%A9nez-p%C3%A9rez-a24b70291">Paulo Romeo Jiménez Pérez</a></p>
            <p>GitHub: <a href="https://github.com/JP-451">JP-451</a></p>
            <p>Teléfono: +34 691 56 47 83</p>
        </article>
    </footer>
</body>
</html>